---
swagger: "2.0"
info:
  description: "Esta API contiene los servicios asociados a AFIP."
  version: "1.0.0"
  title: "API AFIP"
  contact:
    email: "desarrollosoa@supervielle.com.ar"
host: "api.com"
basePath: "/afip/v1.0"
tags:
- name: "Deudores Previsionales"
  description: "Operacion para la consulta de Deuda Previsional"
- name: "Padron Nivel 4"
  description: "Operacion para la consulta de Padron Nivel 4"
paths:
  /deudores/previsionales/{CUIT}:
    get:
      tags:
      - "Deudores Previsionales"
      summary: "Devuelve si una persona tiene deuda previsional"
      operationId: "obtenerDeudaPrevisionalUsingGET"
      produces:
      - "application/json"
      parameters:
      - $ref: "#/parameters/X-Canal"
      - $ref: "#/parameters/X-Usuario"
      - $ref: "#/parameters/X-Id-Sesion"
      - $ref: "#/parameters/CUIT"
      responses:
        200:
          description: "OK"
          schema:
            type: "object"
            properties:
              tiene_deuda:
                type: "boolean"
                description: "campo booleano que informa si la persona tiene deuda"
              id_referencia:
                type: "integer"
                description: "id de consulta devuelta por la AFIP"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
        408:
          description: "Request Timeout"
parameters:
  X-Canal:
    name: "X-Canal"
    in: "header"
    description: "El canal que realiza la llamada"
    required: true
    type: "string"
    enum:
    - "HBI"
    - "CRM"
    - "ICOMBE"
  X-Usuario:
    name: "X-Usuario"
    in: "header"
    description: "El usuario que realiza la llamada"
    required: true
    type: "string"
  X-Id-Sesion:
    name: "X-Id-Sesion"
    in: "header"
    description: "El usuario que realiza la llamada"
    required: false
    type: "string"
  X-TxId:
    name: "X-TxId"
    in: "header"
    description: "Identificador unico de la transaccion"
    required: true
    type: "string"
  CUIT:
    name: "CUIT"
    in: "path"
    description: "CUIT de la persona"
    required: true
    type: "string"
    minLength: 11
    maxLength: 11
definitions: {}
